<div class="card" style="width: 50rem;" style="margin-top: 2rem;">
    <div class="card-body my-3">
        <h3 class="card-title">{{PadrePost.title}}</h3>
        <div *ngFor="let user of users">
            <p *ngIf="PadrePost.userId === user.id"><a class="username" (click)="goToUsr(user.id)"><i class="fas fa-map-pin mx-2"></i>{{user.username}}</a>
            </p>
        </div>

        <p class="card-text">{{PadrePost.body}}</p>

        <div *ngIf="commentsBand === true">
            <hr style="color: orangered; height: 0.2rem;">

            <div *ngIf="comments.length === 0">
                <h5>There are no comments on this post :(</h5>
            </div>
            <div *ngIf="comments.length !== 0">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let comment of comments">
                            <td>
                                <h5 style="color: orangered;">{{comment.name}}</h5>
                                <p style="color: blue;">User: {{comment.email}}</p>

                                <p>{{comment.body}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button type="button" class="btn btn-danger" (click)="seeComments(PadrePost.id)">
            Comentarios
        </button>
    </div>
</div>